<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2017.0.1.363"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="facebook-domain-verification" content="ddup3xkdnsh6fncr0lbj1pfr7tt2lb" />
  <!-- CSS -->

  <!-- IE-only CSS -->
  <!--[if lt IE 9]>


  <link rel="stylesheet" type="text/css" href="css/iefonts_index.css?crc=323769760"/>
  <![endif]-->
  <!-- Other scripts -->
  <!-- JS includes -->
  <style>
    .footer_pdf{
      color: #FFFFFF;
      font-size: 10px;
      font-family:open-sans-n4, sans-serif;
      text-transform: uppercase;
      background: rgb(5,35,45); /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(right, rgb(5,35,45) , rgb(19,58,71)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, rgb(5,35,45), rgb(19,58,71)); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, rgb(5,35,45), rgb(19,58,71)); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, rgb(5,35,45) , rgb(19,58,71)); /* Standard syntax */      
    }
    .foot_elem{
      padding: 10px;
    }

  </style>
  <script type="text/javascript">
   document.write('\x3Cscript src="' + (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//webfonts.creativecloud.com/open-sans:n4,n7:default.js" type="text/javascript">\x3C/script>');
  </script>
</head>
<body class="footer_pdf">
  <table style="width: 100%;">
      <thead>
        <td class="foot_elem">
          <p>Web: <b>www.miele.cl</b></p>
        </td>
        <td class="foot_elem" style="float: right;">
          <p>Miele Chile</p>
        </td>
      </thead>
  </table>

</body>
  
</html>
