<div class="khipu-box">
  <p>
    Khipu te permite pagar usando una transferencia bancaria desde cualquier banco chileno. Sigue las instrucciones de Khipu y en cosa de minutos tendrás tu pago aprobado.
  </p>
  <small>
    Más información en <a href="khipu.com">khipu.com</a>
  </small>
  <div class="row">
    <div class="large-12 columns">
      <div class="right well text-right form-buttons" data-hook="buttons">
        <%= link_to khipu_url, :method => :post, :id => "khipu_button" do %>
          <img src="https://s3.amazonaws.com/static.khipu.com/buttons/2015/163x127-transparent.png">
        <% end %>
        <script type="text/javascript">
          Spree.disableSaveOnClick();
        </script>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
  SpreeKhipu = {
    updateSaveAndContinueVisibility: function() {
      if (this.isButtonHidden()) {
        $(this).trigger('hideSaveAndContinue')
      } else {
        $(this).trigger('showSaveAndContinue')
      }
    },
    isButtonHidden: function () {
      paymentMethod = this.checkedPaymentMethod();
      return (!$('#use_existing_card_yes:checked').length && SpreeKhipu.paymentMethodID && paymentMethod.val() == SpreeKhipu.paymentMethodID);
    },
    checkedPaymentMethod: function() {
      return $('div[data-hook="checkout_payment_step"] input[type="radio"][name="order[payments_attributes][][payment_method_id]"]:checked');
    },
    hideSaveAndContinue: function() {
      $("#checkout_form_payment [data-hook=buttons]").hide();
    },
    showSaveAndContinue: function() {
      $("#checkout_form_payment [data-hook=buttons]").show();
    }
  }

  $(document).ready(function() {
    SpreeKhipu.updateSaveAndContinueVisibility();
    paymentMethods = $('div[data-hook="checkout_payment_step"] input[type="radio"]').click(function (e) {
      SpreeKhipu.updateSaveAndContinueVisibility();
    });
  })
  SpreeKhipu.paymentMethodID = "#{payment_method.id}"
</script>