<div class="container-fluid">
	<div class="row">
		<div class="col col-xs-6">
			<div class="small-box bg-green">
			    <div class="inner">
			        <h4>
						Guardamos tus datos de forma 100% segura para:
			        </h4>
			        <p>
			            <ul>
							<li>Identificar sus datos de despacho e instalación.</li>
							<li>Notificar el estado de tu compra.</li>
							<li>Asociar y mostrar tu historial de compras.</li>
							<li>Facilitar los siguientes procesos de compra.</li>
							<li>Si lo desea, poder recibir noticias de nuevas ofertas.</li>
						</ul>
			        </p>
			    </div>
			    <div class="icon">
			        <i class="fa fa-lock fa-2x"></i>
			    </div>
			    <spam class="small-box-footer">
			    	<br>
			    </spam>
			</div>
			
			
		</div>
		<div class="col col-xs-6">
		</div>
	</div>
</div>