<div class="row text-center">
    <h2 class="text-orange">
    	<b>
    	Transferencia
    	<span class="text-blue">Bancaria</span>
    	</b> 
    </h2>
    <br>
	El pago por transferencia quedará sujeto a confirmación
</div>
