<p>
  Realiza tu pago por transferencia bancaria usando <img src="https://s3.amazonaws.com/static.khipu.com/buttons/2015/50x25-white.png" alt="Khipu">. Continua al siguiente paso para realizar el pago.
</p>