<div class="row text-center">
    <%= image_tag 'logo/webpay_logo.png' %>
    <br>
    Serás redirigido a un medio seguro de transbank para finalizar tu transacción.
    <br>
    <%= hidden_field_tag "[payment_source][webpay_code]", value: 300 %>
</div>
