<br>
<div class="container-fluid-custom">
	<div class="container-fluid default-padding well">
		<h1>Productos más vendidos</h1>
	</div>
	<div class="container-fluid">
		<% @most_selled.each do |product| %>
		<%= render partial: 'spree/shared/product', locals: { product: product} %>
		<% end %>
	</div>
</div>