/*--------------------------------
  Layout colors
--------------------------------*/
$brand-primary: #8C0014;
$brand-primary-dark: darken($brand-primary, 5%);
$brand-primary-white: #FFF;
$brand-primary-light: #A83F4E;
$brand-secondary: #1F1F1F;
$brand-secondary-dark: darken($brand-secondary, 5%);
$brand-secondary-light: lighten($brand-secondary, 5%);
$brand-tertiary: #ECECEC;
$brand-tertiary-dark: darken($brand-tertiary, 5%);
$brand-tertiary-light: lighten($brand-tertiary, 5%);

$secondary-orange: #F59B00;
$secondary-orange-dark: darken($secondary-orange, 5%);
$secondary-orange-light: lighten($secondary-orange, 5%);
$secondary-gray: #707070;
$secondary-gray-dark: darken($secondary-gray, 5%);
$secondary-gray-light: #BBB;
$secondary-light-gray: #B3B3B3;
$secondary-light-gray-dark: darken($secondary-light-gray, 5%);
$secondary-light-gray-light: lighten($secondary-light-gray, 5%);

$brand-grey: #727272;
$brand-black: #000;
$brand-var1: #E6E6E6;
$brand-var2: #F2F2F2;
$brand-var3: #F9F9F9;

$grey-color: #757575;
$light-grey: #d3d3d3;
$primary-color-text: #05232D;
$offer-price: #E06C3A;
$red-text: #cc0000;
$nav-shadow: #05232D;
$white-color: #fff;
$white-dark-back: #f2f2f2;
$dark-text-nav: #49000B;
$brand-success: #7DB942;
$brand-info:    #48B0F7;
$brand-warning: #F8D053;
$brand-danger:  #F55753;
$footer-text-color: #fff;

/*--------------------------------
  Box colors
--------------------------------*/

$box-primary: #3c8dbc;
$box-info: #00c0ef;
$box-danger: #dd4b39;
$box-warning: #f39c12;
$box-success: #00a65a;
$box-default: #d2d6de;
$grey-box: #f4f4f4;

/*--------------------------------
  Ribbon
--------------------------------*/

$primary-ribbon: #e11d1d;
$secondary-ribbon: #871b1b;

/*--------------------------------
  Small boxes
--------------------------------*/

$ligth-white: #f9f9f9;
$color-gray: #eaeaec;
$color-black: #222222;
$color-red: #f56954;
$color-yellow: #f39c12;
$color-aqua: #00c0ef;
$color-blue: #0073b7;
$color-light-blue: #3c8dbc;
$color-green: #00a65a;
$color-navy: #001f3f;
$color-teal: #39cccc;
$color-olive: #3d9970;
$color-lime: #01ff70;
$color-orange: #ff851b;
$color-fuchsia: #f012be;
$color-purple: #932ab6;
$color-maroon: #85144b;

/*----------------------------
	Product Card
----------------------------*/

$product-actions-bg-color: rgba(0,0,0,0.25);
$border-radius: 5px;