<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>Nuevo formulario de contacto</h1>
	<p>Nombre del usuario: <%= @message.name %> </p>
	<p>Email del usuario: <%= @message.email %></p>
	<p>Asunto: <%= @message.subject %></p>
	<p>Cuerpo del mensaje: <br> <%= @message.body %></p>
</body>
</html>