<div class="loader-comparator" align="center" style="display: none;">
  <div class="gif-loader">
  	<%= inline_svg_tag 'mano.svg', class: 'top-hand' %>
    <p>Navega hacia un costado para ver los demás productos</p>
  </div>
</div>