@import "spree/frontend/variables";

.quotation-container{
  padding-left: 50px;
  padding-bottom: 50px;

  .section-header {
    padding: 0;
  }

  form {
    .mdl-textfield {
      margin-right: 30px;
    }

    h3 {
      margin-bottom: 25px;
    }
  }

  .product-details {
    background-color: $brand-primary-white;
    height: 100vh;
    margin-top: -10px;
    padding-top: 40px;
    padding-left: 15px;
    margin-right: -15px !important;

    .product-img {
      padding: 0;

      img {
        width: 100%;
      }
    }

    .cart-item-info {
      margin-top: 10px;
    }

    .submit-container {
      text-align: center;
      margin-top: 50px;
    }
  }
}

@media (max-width: 767px) {
  .quotation-container {
    padding-left: 20px;
    padding-bottom: 0;
    
    .product-details {
      height: 50vh;
      margin-left: -35px !important;
      margin-right: -15px !important;
      margin-top: 30px;
    }
  }
}

.quotation-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  color: $brand-secondary;

  svg {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 28px;
    line-height: 25px;
    margin: 0;
  }

  h3 {
    font-size: 21px;
    line-height: 25px;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    margin: 50px 0;
  }
}