<!-- You can override this template to design your own header. -->
<div class="container">
  <div class="image-container">
    <%= image_tag attachments['customer_logo.png'].url, alt: "Logo" %>
  </div>
</div>