<% unless action_name == 'show_comparator'%>
	<a href="/comparator/show_comparator" title="Ver comparador" class="btn btn-default comparator"><i class="fa fa-retweet fa"></i> Ver Comparador (<%= @items_comp%>)</a>
<%end%>