<nav class="col-xs-12" style="padding-top: 10px;">
  <div id="main-nav-bar" class="row">
  	<div class="col col-xs-8">
    	<%= render partial: 'spree/shared/search' %>
  	</div>
  	<div class="col col-xs-4" id="user_menu_mobile">  
	    <div class="hidden-lg hidden-md">
	      <%= render partial: 'spree/shared/user_menu' %>  
	    </div>
  	</div>
  </div>
</nav>
