<section id= "info-categories" class="container-fluid contain">
  <div class="container-fluid row">
    <div class="col col-lg-4 col-md-4 col-sm-4 hidden-xs">  
      <table class="info-table">
        <tr>
          <td><i class="fa fa-credit-card fa-3x"></i></td>
          <td><b class="info-categories-data-tittle">Paga con tus tarjetas</b> <p class="info-categories-data-body">Débito o crédito a través de webpay.</p></td>
        </tr>
      </table>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <table class="info-table">
        <tr>
          <td><i class="fa fa-mobile fa-3x"></i></td>
          <td><b class="info-categories-data-tittle">Atención al Cliente</b> <p class="info-categories-data-body">600 213 123 - 600 321 231</p></td>
        </tr>
      </table>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-4 hidden-xs">
      <table class="info-table">
        <tr>
          <td><i class="fa fa-truck fa-3x"></i></td>
          <td><b class="info-categories-data-tittle">Despacho a domicilio</b> <p class="info-categories-data-body">A lo largo del país.</p></td>
        </tr>
      </table>
    </div>
  </div>
</section>